<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>Customer Directory</title>
</head>

<body>

<div class="container">

	<h3 style="font-weight: bolder; margin-top: 2vh;">Customer Directory</h3>
	<hr>
	<!-- "/employees/showFormForAdd is the path" appearing in the url in the browser -->
	<a th:href="@{/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Customer
	</a>

<!--	<div class="dropdown">-->
<!--		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--			Search By-->
<!--		</button>-->
<!--		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--			<a class="dropdown-item" href="#">First Name</a>-->
<!--			<a class="dropdown-item" href="#">City</a>-->
<!--			<a class="dropdown-item" href="#">Email</a>-->
<!--			<a class="dropdown-item" href="#">Phone</a>-->
<!--		</div>-->
<!--	</div>-->
	<form th:action="@{/search}" method="get">
		<select name="criteria">
			<option value="firstName">Search by First Name</option>
			<option value="email">Search by Email</option>
			<option value="phoneNumber">Search by Phone Number</option>
		</select>
		<input type="text" name="keyword" placeholder="Search...">
		<button type="submit">Search</button>
	</form>
	<form th:action="@{/sync-customers}" method="post">
		<button type="submit" class="btn btn-primary">Sync</button>
	</form>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<!-- tempEmployee is referring to the "employees decalred in CustomerController"  -->
			<tr th:each="tempCustomer : ${customers}">
			
				<td th:text="${tempCustomer.firstName}" />
				<td th:text="${tempCustomer.lastName}" />
				<td th:text="${tempCustomer.address}" />
				<td th:text="${tempCustomer.city}" />
				<td th:text="${tempCustomer.state}" />
				<td th:text="${tempCustomer.email}" />
				<td th:text="${tempCustomer.phone}" />
				<td>
					<!-- /employees/showFormForUpdate?employeeId = x -->
					<a th:href="@{/showFormForUpdate(customerId=${tempCustomer.id})}" class="btn btn-info btn-sm">Update</a>
					<a th:href="@{/delete(customerId=${tempCustomer.id})}" class="btn btn-danger btn-sm"
                       onclick="if(!(confirm('Are you sure you want to delete this customer?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li th:if="${currentPage != 0}" class="page-item"><a class="page-link" href="#"
																 th:href="@{'/'+${currentPage - 1}}">Previous</a></li>

			<li th:classappend="${currentPage == i + -1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/'+${i - 1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>

			<li th:if="${currentPage + 1 != totalPages}" class="page-item"><a th:href="@{'/'+${currentPage + 1}}" class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
</div>
<script
		src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"
></script>
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"
></script>

</body>
</html>



